
.container {}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1;
}

.left {
  float: left;
}

.right {
  float: right;
}

#mainNav {
  padding-top: 5%;
  padding-bottom: 20px;
  -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
  transition: padding-top 0.3s, padding-bottom 0.3s;
  border: none;
  background-color: transparent;
  color: white;
}

#mainNav.navbar {
  padding: 10px 16px;
  font-size: 22px;
}

#mainNav.navbar-scroll {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #212529;
}

#mainNav.navbar-logo {
  width: 100px;
  height: 30px;
}

#mainNav.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#mainNav.nav-list .nav-item {
  float: right;
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

#mainNav.nav-list .nav-item a {
  color: white;
}

#mainNav.nav-list .nav-item a:hover {
  background-color: #268237;
}

#purpose-left.left .tbox {
  clear: both;
}

#purpose-left.left .emph-text {
  padding-top: 165px;
  padding-left: 120px;
  font-size: 300px;
  font-weight: 500;
  line-height: 50px;
  clear: both;
}

#purpose-left.left .text {
  margin-top: 130px;
  padding-left: 135px;
  font-size: 30px;
  font-weight: 700;
  line-height: 50px;
  clear: both;
}

#purpose-left.left .text-body {
  margin-top: 5px;
  padding-left: 135px;
  font-size: 30px;
  font-weight: 700;
  line-height: 10px;
  clear: both;
}

#purpose-right.right .tbox {
  clear: both;
}

#purpose-right.right .text {
  margin-top: 75px;
  padding-right: 60px;
  font-size: 40px;
  font-weight: 700;
  clear: both;
}

#purpose-right.right .text-body {
  position: absolute;
  margin-top: 150px;
  font-size: 25px;
  font-weight: 700;
  padding-right: 60px;
  clear: both;
  text-align: justify;
  text-justify: inter-word;
}

#about-right.right .text {
  margin-top: 30px;
  padding-right: 60px;
  font-size: 40px;
  font-weight: 700;
  clear: both;
}

#about-right.right .text-body {
  position: absolute;
  margin-top: 150px;
  font-size: 25px;
  font-weight: 700;
  clear: both;
  text-align: justify;
  text-justify: inter-word;
}

#team-profile-list.profile-bubble-list {
  width: 100%;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  display: table;
}

#team-profile.profile {
  display: table-cell;
  width: 18%;
  height: 305px;
  margin-top: 7%;
  margin-left: 15px;
  margin-right: 10px;
  margin-bottom: 9%;
  padding: 0 10px;
  float: left;
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border: 3px solid black;
}

#team-profile.profile-image {
  height: 50px;
  width: 45px;
  border-radius: 50%;
}

#team-profile.profile-name {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 20px;
}

#team-profile.profile-title {
  margin-top: 15px;
  margin-bottom: 10px;
}

#team-profile.profile-desc {
  font-size: 15px;
  font-weight: 100;
  margin-bottom: 5px;
}

section.bg-light-section {
  text-align: center;
  color: black;
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom -20px center;
  background-size: cover;
  height: 100vh;
  padding-top: 80px;
}

section.bg-light-section-img-left {
  background-image: url("../../assets/purpose-left-background.jpg");
}

section.bg-dark-section {
  text-align: center;
  color: white;
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom -20px center;
  background-size: cover;
  height: 100vh;
  padding-top: 80px;
}

section.bg-grad-section {
  text-align: center;
  color: white;
  background-image: url("../../assets/purpose-left-background.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom -20px center;
  background-size: cover;
  height: 100vh;
}

header.master-head {
  text-align: center;
  color: white;
  background-image: url("../../assets/master-head-background.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom -20px center;
  background-size: cover;
  height: 100vh;
}

header.master-head #intro-text {
  padding-top: 23%;
  padding-bottom: 100px;
}

header.master-head #intro-text #intro-header {
  font-size: 100px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 80px;
}

header.master-head #intro-text #intro-mission {
  font-size: 35px;
  font-weight: 500;
  line-height: 40px;
}

body {}
